*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

:root{
    font-size: 62.5%;
}

body{
    background: linear-gradient(45deg, #190361 0%, #B0F 100%);
    font-size: 1.6rem;
    display: grid;
    place-items: center;
    height: 100vh;
    animation: gradient 10s infinite ease;
    background-size: 200% 200%;
}

.screen1{
    width: 42.8rem;
    height: 42.4rem;
    padding: 4.8rem 6.4rem 6.4rem 6.4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.80);
}

.screen1 h1{
    width: 25.8rem;
    height: 5.8rem;
    color: #34355B;
    text-align: center;
    font-family: Montserrat;
    font-size: 2.4rem;
    font-weight: 700;
    line-height: normal;
}

.screen1 p {
    color: #34355B;
    text-align: center;
    font-family: DM Sans;
    font-size: 1.5rem;
    font-weight: 400;
    margin-top: 1.4rem;
    margin-bottom: 2rem;
    line-height: normal;
}

.screen1 img{
    width: 24.8rem;
    height: 19.1rem;
}


.screen2 h1 {
    width: 29.7rem;
    color: #34355B;
    text-align: center;
    font-family: Montserrat;
    font-size: 2.4rem;
    font-weight: 700;
    line-height: normal;
}

.screen2{
    width: 42.8rem;
    height: 56.4rem;
    padding: 4.8rem 6.4rem;    
    gap: 1.7rem;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #FFF;
    box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.80);
}

.screen2 p {
    width: 29.3rem;
    height: auto;
    background: #E4EDF1;
    font-family: Dancing Script;
    font-size: 2.4rem;
    font-weight: 500;
    font-style: normal;
    line-height: normal;

    box-shadow: .2rem .2rem .2rem 0rem rgba(85, 85, 85, 0.50);
    padding: 1rem;
    color: #000;
    text-align: center;


    animation: appear 2s forwards;
}

.screen2 img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30.0rem;
    height: 20.0rem;
}

.screen2 button{
    border: none;
    padding: 1.6rem;
    border-radius: 0.4rem;
    background-color: #FF9500;
    font-family: DM Sans;
    font-weight: 550;
    font-style: normal;
    font-size: 1.5rem;
    text-align: center;
    line-height: normal;
    color: white;
}

.hide{
    display: none;
}

.shake {
    animation: shake 2s infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

@keyframes shake {
    0% {
    transform: translate(0, 0) rotate(0) scale(1);
    }
    10% {
    transform: translate(-1px, -1px) rotate(1deg) scale(1.05);
    }
    20% {
    transform: translate(1px, 1px) rotate(-1deg) scale(0.95);
    }
    30% {
    transform: translate(-1px, -1px) rotate(1deg) scale(1.05);
    }
    40% {
    transform: translate(1px, 1px) rotate(-1deg) scale(0.95);
    }
    50% {
    transform: translate(-1px, -1px) rotate(1deg) scale(1.05);
    }
    60% {
    transform: translate(1px, 1px) rotate(-1deg) scale(0.95);
    }
    70% {
    transform: translate(-1px, -1px) rotate(1deg) scale(1.05);
    }
    80% {
    transform: translate(1px, 1px) rotate(-1deg) scale(0.95);
    }
    90% {
    transform: translate(-1px, -1px) rotate(1deg) scale(1.05);
    }
    100% {
    transform: translate(0, 0) rotate(0) scale(1);
    }
}

@keyframes appear {
    0% {
        transform: translateY(150%) scale(0.2);
        opacity: 0.7; 
    }

    100% {
        transform: translateY(0) scale(1);
        opacity: 1;
    }
}